:root {
  --marrom-suave: #6F5846;
  --vermelho-escuro: #BC1823;
  --vermelho-goiaba: #E35B5D;
  --laranja-queimado: #F18052;
  --amarelo-pastel: #FFA446;
  --branco: #ffff;
  --preto: #000;
  --cinza: #dadada;
}
