.footer {
  background-color: var(--vermelho-escuro);
  color: white;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

.logo {
  width: 60%;
  max-width: 150px;
  height: auto;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.input-group {
  background-color: var(--branco);
  border-radius: 15px;
  overflow: hidden;
}

.form-control {
  border-radius: 15px 0 0 15px;
  border: none;
}

.form-control:focus {
  box-shadow: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.nav-btn {
  background-color: var(--branco);
  color: var(--vermelho-escuro);
  border-radius: 0 15px 15px 0;
}

.hr {
  border-color: rgba(255, 255, 255, 0.3);
  opacity: 0.5;
}

.upper {
  text-transform: uppercase;
}

@media (max-width: 767.98px) {
  .footer .logo {
    width: 40%;
  }
}
